<div class="container-fluid bg-primary text-white d-none d-lg-flex">
 <div class="container py-3">
   <div class="d-flex align-items-center">
     <a href="index.html">
       <h2 class="text-white fw-bold m-0">
         UPTD SPF SD Negeri Sukosari 1
       </h2>
     </a>
     <div class="ms-auto d-flex align-items-center">
       <small class="ms-4"
         ><i class="fa fa-map-marker-alt me-3"></i>Sukosari Lor, Kec.
         Sukosari, Kabupaten Bondowoso</small
       >
       <small class="ms-4"
         ><i class="fa fa-envelope me-3"></i
         >sdn.sukosari1@gmail.com.</small
       >
       <small class="ms-4"
         ><i class="fa fa-phone-alt me-3"></i>no telepon</small
       >
       <div class="ms-3 d-flex">
         <a
           class="btn btn-sm-square btn-light text-primary rounded-circle ms-2"
           href="#"
           ><i class="fab fa-facebook-f"></i
         ></a>
         <a
           class="btn btn-sm-square btn-light text-primary rounded-circle ms-2"
           href="#"
           ><i class="fab fa-twitter"></i
         ></a>
         <a
           class="btn btn-sm-square btn-light text-primary rounded-circle ms-2"
           href="#"
           ><i class="fab fa-linkedin-in"></i
         ></a>
         <a
           class="btn btn-sm-square btn-light text-primary rounded-circle ms-2"
           href="https://www.youtube.com/@UPTDSPFSDNSUKOSARI1"
           ><i class="fab fa-youtube"></i
         ></a>
       </div>
     </div>
   </div>
 </div>
</div>