{% extends "layout/core.html" %}

{% load static %}

{% block content %}
   <!-- Page Header Start -->
  <div
    class="container-fluid page-header py-5 mb-5 wow fadeIn"
    data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-white mb-4 animated slideInDown fw-medium">Visi Misi | Sejarah</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
          <li class="breadcrumb-item text-primary" aria-current="page">
            About
          </li>
        </ol>
      </nav>
    </div>
  </div>
 <!-- Page Header End -->

 <div class="">
   <div class="container mt-120">
     <div class="row">
       <div class="col-xl-5 col-lg-6 col-sm-12 mb-30">
         <img
           src="{% static 'sd/img/logo.png' %}"
           alt=""
           class="bdrd-16 img-responsive w-100"
           id="logo"
         />
       </div>
       <div class="col-lg-7">
         <div id="accordion-faq" class="accordion faq-list-items">
           <div class="accordion-item faq-item">
             <h2 id="heading-1" class="accordion-header">
               <button
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapse-1"
                 aria-expanded="true"
                 aria-controls="collapse-1"
                 class="accordion-button text-heading-5"
               >
                 <span class="faq-question"> Visi </span>
               </button>
             </h2>
             <div
               id="collapse-1"
               aria-labelledby="heading-1"
               data-bs-parent="#accordion-faq"
               class="accordion-collapse collapse show"
             >
               <div class="accordion-body faq-answer">
                 <div>
                   <ul>
                     <li>
                       <span class="page_speed_1737058827"
                         ><span class="page_speed_1772538070"
                           >Terciptanya sekolah yang beriman berakhlak mulia berprestasi disiplin kompetitif dan berkarakter</span
                         >
                         &nbsp;</span
                       >
                     </li>
                   </ul>
                   <p>&nbsp;</p>
                 </div>
               </div>
             </div>
           </div>
           <div class="accordion-item faq-item">
             <h2 id="heading-2" class="accordion-header">
               <button
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapse-2"
                 aria-expanded="false"
                 aria-controls="collapse-2"
                 class="accordion-button text-heading-5 collapsed"
               >
                 <span class="faq-question"> Misi </span>
               </button>
             </h2>
             <div
               id="collapse-2"
               aria-labelledby="heading-2"
               data-bs-parent="#accordion-faq"
               class="accordion-collapse collapse"
             >
               <div class="accordion-body faq-answer">
                 <div>
                   <ul>
                     <li class="page_speed_380161231">
                       Meningkatkan sumber daya guru yang profesional serta bertaqwa kepada tuhan yang maha esa;
                     </li>
                     <li class="page_speed_380161231">
                       Menciptakan suasana sekolah yang kondusif dengan pola MBS;
                     </li>
                     <li class="page_speed_380161231">
                       Menerapkan menejemen pendidikan dengan standar pelayanan minimal;
                     </li>
                     <li class="page_speed_380161231">
                       Meningkatkan kemajuan prestasi sekolah melalui kegiatan pendidikan berkarakter;
                     </li>
                     <li class="page_speed_380161231">
                       Meningkatkan pemberdayaan tokoh masyarakat dan komite di lingkungan sekolah;
                     </li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="accordion-item faq-item">
             <h2 id="heading-3" class="accordion-header">
               <button
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapse-3"
                 aria-expanded="false"
                 aria-controls="collapse-3"
                 class="accordion-button text-heading-5 collapsed"
               >
                 <span class="faq-question"> Sejarah </span>
               </button>
             </h2>
             <div
               id="collapse-3"
               aria-labelledby="heading-3"
               data-bs-parent="#accordion-faq"
               class="accordion-collapse collapse"
             >
               <div class="accordion-body faq-answer">
                 <div>
                   <p class="page_speed_380161231">
                     <i>&nbsp;UPTD SPF SDN Sukosari 1</i
                     >&nbsp;(SD) &nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp; &nbsp;&nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp; &nbsp;&nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp; &nbsp;&nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </p>
                   <p class="page_speed_380161231">
                     &nbsp; &nbsp; &nbsp;
                   </p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Team Start -->

 {% endblock content %}